---
import MortalityApp from '../components/MortalityApp';
import '../styles/app.css';
import { loadTableIndex } from '../lib/loadTables';

const tableIndex = await loadTableIndex();
const tables = tableIndex.map(({ filePath: _filePath, ...summary }) => summary);
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Mortality Tables</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <MortalityApp client:load tables={tables} />
  </body>
</html>
